<div id="<%= dom_id article %>">
  <div>
    <strong>Title:</strong>
    <%= article.title %>
  </div>

  <div>
    <strong>Body:</strong>
    <%= article.body %>
  </div>

  <div>
    <strong>Author:</strong>
    <%= article.author %>
  </div>

  <div>
    <strong>Status:</strong>
    <% if article.processed? %>
      Processed at <%= article.processed_at.strftime("%H:%M:%S") %>
    <% else %>
      <em>Processing via Sidekiq...</em>
    <% end %>
  </div>

</div>
