<% content_for :title, "Articles" %>

<ul class="article-list">
  <% @articles.each do |article| %>
    <li>
      <%= link_to article do %>
        <div class="article-title"><%= article.title %></div>
        <div class="article-meta">
          <span><%= article.author %></span>
          <span><%= article.created_at.strftime("%b %-d, %Y") %></span>
          <span><%= pluralize(article.comments.size, "comment") %></span>
        </div>
      <% end %>
    </li>
  <% end %>
</ul>

<%= link_to "New article", new_article_path, class: "new-link" %>
