<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Rails Complete" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Rails Complete">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="container">
      <header class="site-header">
        <h1><%= link_to "Rails Complete", root_path %></h1>
        <div class="tagline">A demo blog — powered by Rails, Sidekiq &amp; PostgreSQL</div>
      </header>

      <% if notice.present? %>
        <p class="notice"><%= notice %></p>
      <% end %>

      <main>
        <%= yield %>
      </main>
    </div>
  </body>
</html>
